// src/styles/styles.scss

$primary-color: #a9b8a9;

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  padding: 20px;
}
